@media(max-width: 1200px) {
    .glass-card {
        max-width: 600px;
    }
}

@media(max-width: 992px) {
    h1 {
        font-size: 45px;
    }
}

@media(max-width: 768px) {
    .glass-card {
        padding: 40px 25px;
    }

    h1 {
        font-size: 38px;
    }

    .subtitle {
        font-size: 17px;
    }
}

@media(max-width: 480px) {
    h1 {
        font-size:30px;
    }

    input,
    textarea,
    button {
        font-size:16px;
        padding:16px;
    }
}

@media(max-width: 280px) {
    h1 {
        font-size: 22px;
    }
}

@media(min-width: 1600px) {
    .glass-card {
        max-width: 850px;
    }
}

@media screen and (max-width: 220px) {
    body {
        zoom: 0.7;
    }
}